<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<style> 
form {
border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  width: 100%;
  padding: 15px 32px;
  margin: 8px 0px;
  box-sizing: border-box;
}
button {
  background-color: green;
  border: none;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
}
</style>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
{% endblock %}